@import '../../App.scss';

.signup {
    padding: 3rem;
    min-height: 100vh;

    &__content {
        display: flex;
        flex-direction: column;

        & .remember {
            display: flex;

            & input[type=checkbox]:checked {
                accent-color: $color-check;
                color: $color-white;
            }

            & label {
                margin-left: 1rem;
                font-size: 1.2rem;
                color: $color-check-green;
            }
        }

    }
    
    & .signin {
        margin-top: -3rem;
        text-align: center;
        width: 80%;
        
        & p {
            font-size: 1.2rem;
        }
        
        & span {
            color: $color-primary;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}