@import '../../App.scss';

.signup {
    padding: 3rem;
    height: 100vh;

    &__head {

        & h1 {
            font-size: 2rem;
            font-weight: 500;
            color: $color-text-dark;
        }

        & h2 {
            font-weight: 500;
            font-size: 1.5rem;
        }
    }
}