@import '../../App.scss';

.form {
  border-radius: 1rem;
  width: 100%;
  background-color: $color-primary-dark;
  
  &__container {
    padding: 1rem;
    width: 100%;
    display: flex;

    @media (max-width: $bp-largest) {
      flex-direction: column;
    }
  }

  &__left {
    width: 60%;
    padding: 0rem 3rem 6rem 3rem ;

    @media (max-width: $bp-largest) {
      width: 100%;
    }
  }

  & .logo__container {
    display: flex;
    justify-content: center;

    & img {
      width: 40%;
    }
  }

  &__head {
    margin-bottom: 3rem;

    & h1 {
      font-size: 2rem;
      font-weight: 500;
      color: $color-text-dark;
    }

    & h2 {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}