@import '../../App.scss';

.verify {
    padding: 3rem;

    &__content {
        display: flex;
        gap: 2rem;
        padding: 5rem;
        width: 80%;
        justify-content: center;
        margin: 7rem 0rem;
    }

    &__block {
        display: block;
        width: 6rem;
        height: 7rem;
        border: 1.7px solid $color-primary;
        border-radius: 5px;
        cursor: pointer;
    }
}