@import '../../App.scss';

.verify {
    padding-top: 3rem;

    &__content {
        display: flex;
        gap: 2rem;
        padding: 5rem;
        width: 80%;
        justify-content: center;
        margin: 7rem 0rem;

        @media (max-width: $bp-small) {
            gap: 1rem;
            margin: 5rem 0rem;
            width: 100%;
            padding: 0rem;
        }
    }

    &__block {
        display: block;
        width: 6rem;
        height: 7rem;
        border: 1.7px solid $color-primary;
        border-radius: 5px;
        cursor: pointer;

        @media (max-width: $bp-small) {
            width: 7rem;
            height: 8rem;
        }

        & input {
            width: 100%;
            padding: 1rem;
            height: 100%;
            background-color: inherit;
            border: none;
            font-size: 3rem;
            text-align: center;

            @media (max-width: $bp-small) {
                padding: 0rem;
            }

            &:focus {
                outline: none;
            }
        }
    }
}