// COLOR VARIABLES
$color-primary: #01c8ff;
$color-primary-dark: #e3ecff;
$color-primary-light: #0d6efd;

$color-text-light: #4b4a4a;
$color-text-medium: #6c757d;
$color-text-dark: #000000;

$color-check: #6f42c1;
$color-check-green:#19875494;

$color-white: #ffffff;
$color-grey: #adb5bd;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 56.25em;    // 900px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 25em;   //400px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color-white;
  color: $color-text-light;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .2px;
}